
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475853840'); /* IE9*/
  src: url('iconfont.eot?t=1475853840#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475853840') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475853840') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475853840#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zhongguoditu:before { content: "\ec70"; }

.icon-boy:before { content: "\e61c"; }

.icon-fudongxiangshang:before { content: "\e612"; }

.icon-girl:before { content: "\e600"; }

.icon-jin:before { content: "\e601"; }

.icon-huo:before { content: "\e602"; }

.icon-mu:before { content: "\e603"; }

.icon-shui:before { content: "\e604"; }

.icon-tu:before { content: "\e605"; }

.icon-globle:before { content: "\e654"; }

.icon-xiangshang:before { content: "\e735"; }

