

*{margin: 0;padding: 0;list-style: none;}
/*
KISSY CSS Reset
ÃƒÂ§Ã‚ÂÃ¢â‚¬Â ÃƒÂ¥Ã‚Â¿Ã‚ÂµÃƒÂ¯Ã‚Â¼Ã…Â¡1. reset ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ§Ã¢â‚¬ÂºÃ‚Â®ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ¤Ã‚Â¸Ã‚ÂÃƒÂ¦Ã‹Å“Ã‚Â¯ÃƒÂ¦Ã‚Â¸Ã¢â‚¬Â¦ÃƒÂ©Ã¢â€žÂ¢Ã‚Â¤ÃƒÂ¦Ã‚ÂµÃ‚ÂÃƒÂ¨Ã‚Â§Ã‹â€ ÃƒÂ¥Ã¢â€žÂ¢Ã‚Â¨ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ©Ã‚Â»Ã‹Å“ÃƒÂ¨Ã‚Â®Ã‚Â¤ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚ÂÃƒÂ¯Ã‚Â¼Ã…â€™ÃƒÂ¨Ã‚Â¿Ã¢â€žÂ¢ÃƒÂ¤Ã‚Â»Ã¢â‚¬Â¦ÃƒÂ¦Ã‹Å“Ã‚Â¯ÃƒÂ©Ã†â€™Ã‚Â¨ÃƒÂ¥Ã‹â€ Ã¢â‚¬Â ÃƒÂ¥Ã‚Â·Ã‚Â¥ÃƒÂ¤Ã‚Â½Ã…â€œÃƒÂ£Ã¢â€šÂ¬Ã¢â‚¬Å¡ÃƒÂ¦Ã‚Â¸Ã¢â‚¬Â¦ÃƒÂ©Ã¢â€žÂ¢Ã‚Â¤ÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ÃƒÂ©Ã¢â‚¬Â¡Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ¦Ã‹Å“Ã‚Â¯ÃƒÂ§Ã‚Â´Ã‚Â§ÃƒÂ¥Ã‚Â¯Ã¢â‚¬Â ÃƒÂ¤Ã‚Â¸Ã‚ÂÃƒÂ¥Ã‚ÂÃ‚Â¯ÃƒÂ¥Ã‹â€ Ã¢â‚¬Â ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ£Ã¢â€šÂ¬Ã¢â‚¬Å¡
2. reset ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ§Ã¢â‚¬ÂºÃ‚Â®ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ¤Ã‚Â¸Ã‚ÂÃƒÂ¦Ã‹Å“Ã‚Â¯ÃƒÂ¨Ã‚Â®Ã‚Â©ÃƒÂ©Ã‚Â»Ã‹Å“ÃƒÂ¨Ã‚Â®Ã‚Â¤ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚ÂÃƒÂ¥Ã…â€œÃ‚Â¨ÃƒÂ¦Ã¢â‚¬Â°Ã¢â€šÂ¬ÃƒÂ¦Ã…â€œÃ¢â‚¬Â°ÃƒÂ¦Ã‚ÂµÃ‚ÂÃƒÂ¨Ã‚Â§Ã‹â€ ÃƒÂ¥Ã¢â€žÂ¢Ã‚Â¨ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ¤Ã‚Â¸Ã¢â€šÂ¬ÃƒÂ¨Ã¢â‚¬Â¡Ã‚Â´ÃƒÂ¯Ã‚Â¼Ã…â€™ÃƒÂ¨Ã¢â€šÂ¬Ã…â€™ÃƒÂ¦Ã‹Å“Ã‚Â¯ÃƒÂ¥Ã¢â‚¬Â¡Ã‚ÂÃƒÂ¥Ã‚Â°Ã¢â‚¬ËœÃƒÂ©Ã‚Â»Ã‹Å“ÃƒÂ¨Ã‚Â®Ã‚Â¤ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚ÂÃƒÂ¦Ã…â€œÃ¢â‚¬Â°ÃƒÂ¥Ã‚ÂÃ‚Â¯ÃƒÂ¨Ã†â€™Ã‚Â½ÃƒÂ¥Ã‚Â¸Ã‚Â¦ÃƒÂ¦Ã‚ÂÃ‚Â¥ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ©Ã¢â‚¬â€Ã‚Â®ÃƒÂ©Ã‚Â¢Ã‹Å“ÃƒÂ£Ã¢â€šÂ¬Ã¢â‚¬Å¡
3. reset ÃƒÂ¦Ã…â€œÃ…Â¸ÃƒÂ¦Ã…â€œÃ¢â‚¬ÂºÃƒÂ¦Ã‚ÂÃ‚ÂÃƒÂ¤Ã‚Â¾Ã¢â‚¬ÂºÃƒÂ¤Ã‚Â¸Ã¢â€šÂ¬ÃƒÂ¥Ã‚Â¥Ã¢â‚¬â€ÃƒÂ¦Ã¢â€žÂ¢Ã‚Â®ÃƒÂ©Ã¢â€šÂ¬Ã¢â‚¬Å¡ÃƒÂ©Ã¢â€šÂ¬Ã…Â¡ÃƒÂ§Ã¢â‚¬ÂÃ‚Â¨ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ¥Ã…Â¸Ã‚ÂºÃƒÂ§Ã‚Â¡Ã¢â€šÂ¬ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚ÂÃƒÂ£Ã¢â€šÂ¬Ã¢â‚¬Å¡ÃƒÂ¤Ã‚Â½Ã¢â‚¬Â ÃƒÂ¦Ã‚Â²Ã‚Â¡ÃƒÂ¦Ã…â€œÃ¢â‚¬Â°ÃƒÂ©Ã¢â‚¬Å“Ã‚Â¶ÃƒÂ¥Ã‚Â¼Ã‚Â¹ÃƒÂ¯Ã‚Â¼Ã…â€™ÃƒÂ¦Ã…Â½Ã‚Â¨ÃƒÂ¨Ã‚ÂÃ‚ÂÃƒÂ¦Ã‚Â Ã‚Â¹ÃƒÂ¦Ã‚ÂÃ‚Â®ÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â·ÃƒÂ¤Ã‚Â½Ã¢â‚¬Å“ÃƒÂ©Ã…â€œÃ¢â€šÂ¬ÃƒÂ¦Ã‚Â±Ã¢â‚¬Å¡ÃƒÂ¯Ã‚Â¼Ã…â€™ÃƒÂ¨Ã‚Â£Ã‚ÂÃƒÂ¥Ã¢â‚¬Â°Ã‚ÂªÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ÃƒÂ¤Ã‚Â¿Ã‚Â®ÃƒÂ¦Ã¢â‚¬ÂÃ‚Â¹ÃƒÂ¥Ã‚ÂÃ…Â½ÃƒÂ¥Ã¢â‚¬Â Ã‚ÂÃƒÂ¤Ã‚Â½Ã‚Â¿ÃƒÂ§Ã¢â‚¬ÂÃ‚Â¨ÃƒÂ£Ã¢â€šÂ¬Ã¢â‚¬Å¡
ÃƒÂ§Ã¢â‚¬Â°Ã‚Â¹ÃƒÂ¨Ã¢â‚¬Â°Ã‚Â²ÃƒÂ¯Ã‚Â¼Ã…Â¡1. ÃƒÂ©Ã¢â€šÂ¬Ã¢â‚¬Å¡ÃƒÂ¥Ã‚ÂºÃ¢â‚¬ÂÃƒÂ¤Ã‚Â¸Ã‚Â­ÃƒÂ¦Ã¢â‚¬â€œÃ¢â‚¬Â¡ÃƒÂ¯Ã‚Â¼Ã¢â‚¬Âº2. ÃƒÂ¥Ã…Â¸Ã‚ÂºÃƒÂ¤Ã‚ÂºÃ…Â½ÃƒÂ¦Ã…â€œÃ¢â€šÂ¬ÃƒÂ¦Ã¢â‚¬â€œÃ‚Â°ÃƒÂ¤Ã‚Â¸Ã‚Â»ÃƒÂ¦Ã‚ÂµÃ‚ÂÃƒÂ¦Ã‚ÂµÃ‚ÂÃƒÂ¨Ã‚Â§Ã‹â€ ÃƒÂ¥Ã¢â€žÂ¢Ã‚Â¨ÃƒÂ£Ã¢â€šÂ¬Ã¢â‚¬Å¡
ÃƒÂ§Ã‚Â»Ã‚Â´ÃƒÂ¦Ã…Â Ã‚Â¤ÃƒÂ¯Ã‚Â¼Ã…Â¡ÃƒÂ§Ã…Â½Ã¢â‚¬Â°ÃƒÂ¤Ã‚Â¼Ã‚Â¯<lifesinger@gmail.com>, ÃƒÂ¦Ã‚Â­Ã‚Â£ÃƒÂ¦Ã‚Â·Ã‚Â³<ragecarrier@gmail.com>
*/

/** ÃƒÂ¦Ã‚Â¸Ã¢â‚¬Â¦ÃƒÂ©Ã¢â€žÂ¢Ã‚Â¤ÃƒÂ¥Ã¢â‚¬Â Ã¢â‚¬Â¦ÃƒÂ¥Ã‚Â¤Ã¢â‚¬â€œÃƒÂ¨Ã‚Â¾Ã‚Â¹ÃƒÂ¨Ã‚Â·Ã‚Â **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements ÃƒÂ§Ã‚Â»Ã¢â‚¬Å“ÃƒÂ¦Ã…Â¾Ã¢â‚¬Å¾ÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â  */
dl, dt, dd, ul, ol, li, /* list elements ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â  */
pre, /* text formatting elements ÃƒÂ¦Ã¢â‚¬â€œÃ¢â‚¬Â¡ÃƒÂ¦Ã…â€œÃ‚Â¬ÃƒÂ¦Ã‚Â Ã‚Â¼ÃƒÂ¥Ã‚Â¼Ã‚ÂÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â  */
form, fieldset, legend, button, input, textarea, /* form elements ÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¥Ã‚ÂÃ¢â‚¬Â¢ÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â  */
th, td /* table elements ÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¦Ã‚Â Ã‚Â¼ÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â  */ {
  margin: 0;
  padding: 0;
}

/** ÃƒÂ¨Ã‚Â®Ã‚Â¾ÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ©Ã‚Â»Ã‹Å“ÃƒÂ¨Ã‚Â®Ã‚Â¤ÃƒÂ¥Ã‚Â­Ã¢â‚¬â€ÃƒÂ¤Ã‚Â½Ã¢â‚¬Å“ **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* ÃƒÂ¥Ã‚Â°Ã¢â‚¬Â ÃƒÂ¦Ã¢â‚¬â€œÃ…â€œÃƒÂ¤Ã‚Â½Ã¢â‚¬Å“ÃƒÂ¦Ã¢â‚¬Â°Ã‚Â¶ÃƒÂ¦Ã‚Â­Ã‚Â£ */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* ÃƒÂ§Ã‚Â»Ã…Â¸ÃƒÂ¤Ã‚Â¸Ã¢â€šÂ¬ÃƒÂ§Ã‚Â­Ã¢â‚¬Â°ÃƒÂ¥Ã‚Â®Ã‚Â½ÃƒÂ¥Ã‚Â­Ã¢â‚¬â€ÃƒÂ¤Ã‚Â½Ã¢â‚¬Å“ */
small { font-size: 12px; } /* ÃƒÂ¥Ã‚Â°Ã‚ÂÃƒÂ¤Ã‚ÂºÃ…Â½ 12px ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ¤Ã‚Â¸Ã‚Â­ÃƒÂ¦Ã¢â‚¬â€œÃ¢â‚¬Â¡ÃƒÂ¥Ã‚Â¾Ã‹â€ ÃƒÂ©Ã…Â¡Ã‚Â¾ÃƒÂ©Ã‹Å“Ã¢â‚¬Â¦ÃƒÂ¨Ã‚Â¯Ã‚Â»ÃƒÂ¯Ã‚Â¼Ã…â€™ÃƒÂ¨Ã‚Â®Ã‚Â© small ÃƒÂ¦Ã‚Â­Ã‚Â£ÃƒÂ¥Ã‚Â¸Ã‚Â¸ÃƒÂ¥Ã…â€™Ã¢â‚¬â€œ */

/** ÃƒÂ©Ã¢â‚¬Â¡Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â  **/
ul, ol { list-style: none; }

/** ÃƒÂ©Ã¢â‚¬Â¡Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ¦Ã¢â‚¬â€œÃ¢â‚¬Â¡ÃƒÂ¦Ã…â€œÃ‚Â¬ÃƒÂ¦Ã‚Â Ã‚Â¼ÃƒÂ¥Ã‚Â¼Ã‚ÂÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â  **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }


/** ÃƒÂ©Ã¢â‚¬Â¡Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¥Ã‚ÂÃ¢â‚¬Â¢ÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â  **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img ÃƒÂ¦Ã‚ÂÃ‚Â­ÃƒÂ¨Ã‚Â½Ã‚Â¦ÃƒÂ¯Ã‚Â¼Ã…Â¡ÃƒÂ¨Ã‚Â®Ã‚Â©ÃƒÂ©Ã¢â‚¬Å“Ã‚Â¾ÃƒÂ¦Ã…Â½Ã‚Â¥ÃƒÂ©Ã¢â‚¬Â¡Ã…â€™ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ img ÃƒÂ¦Ã¢â‚¬â€Ã‚Â ÃƒÂ¨Ã‚Â¾Ã‚Â¹ÃƒÂ¦Ã‚Â¡Ã¢â‚¬Â  */
button, input, select, textarea { font-size: 100%; } /* ÃƒÂ¤Ã‚Â½Ã‚Â¿ÃƒÂ¥Ã‚Â¾Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¥Ã‚ÂÃ¢â‚¬Â¢ÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â ÃƒÂ¥Ã…â€œÃ‚Â¨ ie ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ¨Ã†â€™Ã‚Â½ÃƒÂ§Ã‚Â»Ã‚Â§ÃƒÂ¦Ã¢â‚¬Â°Ã‚Â¿ÃƒÂ¥Ã‚Â­Ã¢â‚¬â€ÃƒÂ¤Ã‚Â½Ã¢â‚¬Å“ÃƒÂ¥Ã‚Â¤Ã‚Â§ÃƒÂ¥Ã‚Â°Ã‚Â */
/* ÃƒÂ¦Ã‚Â³Ã‚Â¨ÃƒÂ¯Ã‚Â¼Ã…Â¡optgroup ÃƒÂ¦Ã¢â‚¬â€Ã‚Â ÃƒÂ¦Ã‚Â³Ã¢â‚¬Â¢ÃƒÂ¦Ã¢â‚¬Â°Ã‚Â¶ÃƒÂ¦Ã‚Â­Ã‚Â£ */

/** ÃƒÂ©Ã¢â‚¬Â¡Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¦Ã‚Â Ã‚Â¼ÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â  **/
table { border-collapse: collapse; border-spacing: 0; }

/* ÃƒÂ¦Ã‚Â¸Ã¢â‚¬Â¦ÃƒÂ©Ã¢â€žÂ¢Ã‚Â¤ÃƒÂ¦Ã‚ÂµÃ‚Â®ÃƒÂ¥Ã…Â Ã‚Â¨ */
.ks-clear:after, .clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.ks-clear, .clear {
  *zoom: 1;
}

.main {padding: 30px 100px;}
.main h1{font-size:36px; color:#333; text-align:left;margin-bottom:30px; border-bottom: 1px solid #eee;}

.helps{margin-top:40px;}
.helps pre{
  padding:20px;
  margin:10px 0;
  border:solid 1px #e7e1cd;
  background-color: #fffdef;
  overflow: auto;
}

.icon_lists li{
  float:left;
  width: 100px;
  height:180px;
  text-align: center;
  margin: 0 50px;
}
.icon_lists .icon{
  font-size: 90px;
  line-height: 100px;
  margin: 10px 0px;
  -webkit-transition: font-size 0.2s ease-out 0s;
  -moz-transition: font-size 0.2s ease-out 0s;
  transition: font-size 0.2s ease-out 0s;
}
.icon_lists .icon:hover{
  font-size: 100px;

  
} 
*{padding:0;margin:0;font-family: arial;}
#header{
 top: 0px;
 height:100px;
 width: 100%;
 border-radius: 10px;
 background-image: url(background/bugBack.jpg);
 background-repeat: repeat;
 background-size: contain;
 position: fixed;
 z-index: 20;
 font-size: 25px;
 /* vertical-align: middle; */
 text-align: center;
 /* opacity: .95; */
 -moz-transition: 0.1s height, 0.2s font-size;
 -o-transition: 0.1s height, 0.2s font-size;
 -webkit-transition: 0.1s height, 0.2s font-size;
 transition: 0.1s height, 0.2s font-size;
 display: flex;
 box-shadow: 1px 5px 5px 2px #888888;
}
.headerText{
  font-family: Microsoft YaHei;
  color:white;
  /* display: block; */
  margin: auto;
  /* vertical-align: middle; */
  width: 100%;
  /* text-align: center; */
  background-color: #404145;
  width: 75%;
}
#leftPic{
 position: absolute;
 left:20px;
 z-index: 15;
 /*top:250px;*/
 -moz-transition: 2s left,0.2s width,0.2s height;
 -o-transition: 2s left,0.2s width,0.2s height;
 -webkit-transition: 2s left,0.2s width,0.2s height;
 transition: 2s left,0.2s width,0.2s height;
 height: 200px;
 width: 200px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;
}
#rightPic{
 position: absolute;
 right:20px;
 z-index: 15;
 /*top:250px;*/
 -moz-transition: 2s right,0.2s width,0.2s height;
 -o-transition: 2s right,0.2s width,0.2s height;
 -webkit-transition: 2s right,0.2s width,0.2s height;
 transition: 2s right,0.2s width,0.2s height;
 height: 200px;
 width: 200px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;

}

#banner{
  position: relative;
  /* width: 100%; */
  font-size: 50px;
  text-align: center;
  z-index: 10;
  padding-top: 0;
}
#banner > *{
 margin-top: 30px
}
#content{
 border: solid #33333; 
 top:700px; 
 position:relative;
 height: 1000px;
 padding-top:100px;
 background-color:#fff;
 z-index:15; 
 width:100%;
}
.genderLayer{
  font-family: Microsoft YaHei;
  font-size: 50px;
  width: 100%;
  color: black;
  /* z-index: 10; */
  position: relative;
  /* top: 460px; */
  /* height: 680px; */
  text-align: center;
  padding-top:10px;
}
.icon_lists{
  display:inline-block;
  margin:auto;  
}
.name {
  font-size: 17px;
  font-family: Microsoft YaHei;
  font-weight: bold;
}
.ifooter{
  bottom: 0px;
  height: inherit;
  background: #404145;
  font-size: 21px;
  color: #fff;
  z-index: 20;
  text-align: center;
  line-height: 2.3;
  position: fixed;
  width: 100%;
  opacity: .95;
  box-shadow: 1px 4px 8px #888888 inset;
}
.blue{color:#3399CC;}
.orange{color:#FF6666;}
.white{color:white;}
p.gender, p.country, p.attribute {
  font-size: xx-large;
}
div.englishSub{
  font-size: 14px;
  font-family: Microsoft YaHei;
}
body
{ 
  background-image: url(background/gridBack.png);

}
.addBorder{
  border: #404145;
  border-radius: 9px;
  border-style: solid;
  width: inherit;
  height: inherit;
  margin: auto;
  text-align: center;
  margin-top:20px;
  margin-bottom: 20px;
}

.contentCenterize{
  top: 150px;
  position: relative;
  margin-bottom: 100px;
}

.resultFormat{
  line-height: 90px;
  font-size: 25px;
}

.dataStyle {
    font-size: large;
}
.hide{
  display: none;
  -moz-transition: 0.5s display;
  -o-transition: 0.5s display;
  -webkit-transition: 0.5s display;
  transition: 0.5s display;
}
.show{
  display: block;
  -moz-transition: 0.5s display;
  -o-transition: 0.5s display;
  -webkit-transition: 0.5s display;
  transition: 0.5s display;
}
/*.return-icon{
  display: block;
  float: right;
  background-color: transparent;
  border: transparent;
  height: 50px;
  width: 50px;
  font-weight: bolder;
  }*/
  .icon.iconfont.return-icon:hover{
    color: #404145;
    font-size:33px;
  }
  .icon.iconfont.return-icon{
    font-size: 25px;
    color: #404145;
    display: inline-block;
    float: right;
    background-color: transparent;
    border: transparent;
    height: 50px;
    width: 50px;
    font-weight: bolder;
  }
  .subButton{
    background-color: #404145;
    color: #FFF8DC;
    /* display: block; */
    margin: auto;
    margin-bottom: 29px;
    margin-top: 0px;
    /* width: 75px; */
    font-weight: bolder;
  }
  .subButton:hover{
    color:white;
    font-size: 115%;
  }


  .btn-return{
    background-color: #404145;
    color: #fff;
    border-radius: 21%;
    opacity: .95;
    box-shadow: 1px 4px 8px #888888 inset;
  }
  .dataBackground{
  height: 45%;
  padding-top: 20px;
  background: lightgrey; 
  /* color: #fff; */
  /* line-height: 2.3; */
  opacity: .95;
  box-shadow: 3px 5px 13px #88887F inset;
  overflow-y: auto;
}