{% include 'headerTemp.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>

	{% block header %}
	{% endblock %}
<title>You And Me</title>
</head>
<body style="">
	<div id="header">
		<p class="headerText">
			Make your name with a specific element
		</p>
	</div>
	<div class="container contentCenterize">
		<form action="/search/" method="get">
			<div class="addBorder" id="countryLayer">  
				<p class="country">Language Of Your Name</p>
				<ul class="icon_lists">
					<li >
						<input type="radio" class="hide" name="country" id="china" value="中国"/>
						<label for="china" name ="country" class="icon iconfont icon-zhongguoditu"></label>
						<div class="name">中文名</div>
						<div class="englishSub">Chinese Name</div>

					</li>
					<li>
						<input type="radio" class="hide" name="country" id="others" value="其他"/>
						<label for="others"  class="icon iconfont icon-globle"></label>
						<div class="name">英文名</div>
						<div class="englishSub">English Name</div>
					</li>
				</ul>
			</div>
			<div class="addBorder" id="genderLayer">
				<div class="icon iconfont icon-xiangshang return-icon"></div>
				<p class="gender">Choose Your Gender</p>
				<ul class="icon_lists">
					<li>
						<input type="radio" class="hide" name="gender" id="boy" value="男"/>
						<label for="boy"  class="icon iconfont icon-boy"></label>
						<div class="name">正太</div>
						<div class="englishSub">Boy</div>
					</li>
					<li>
						<input type="radio" class="hide" name="gender" id="girl" value="女"/>
						<label for="girl"  class="icon iconfont icon-girl"></label>
						<div class="name">萝莉</div>
						<div class="englishSub">Girl</div>
					</li>
				</ul>
			</div>
			<div class="addBorder responsive" id="attLayer">
				<div id="secondReturn" class="icon iconfont icon-xiangshang return-icon"></div>
				<p class="country ">Select Your Element</p>
				<ul class="icon_lists">
					<li>
						<input type="radio" class="hide" name="attr" id="jin" value="金"/>
						<label for="jin"  class="icon attr iconfont icon-jin"></label>
						<!-- <i class="icon attr iconfont icon-jin"></i> -->
						<div class="name">Metal</div>

					</li>
					<li>
						<input type="radio" class="hide" name="attr" id="mu" value="木"/>
						<label for="mu"  class="icon attr iconfont icon-mu"></label>
						<!-- <i class="icon attr iconfont icon-jin"></i> -->
						<!-- <i class="icon attr iconfont icon-mu"></i> -->
						<div class="name">Wood</div>
					</li>
					<li>
						<input type="radio" class="hide" name="attr" id="shui" value="水"/>
						<label for="shui"  class="icon attr iconfont icon-shui"></label>
						<!-- <i class="icon attr iconfont icon-jin"></i> -->
						<div class="name">Water</div>
					</li>
					<li>
						<input type="radio" class="hide" name="attr" id="huo" value="火"/>
						<label for="huo"  class="icon attr iconfont icon-huo"></label>
						<!-- <i class="icon attr iconfont icon-huo"></i> -->
						<div class="name">Fire</div>
					</li>
					<li>
						<input type="radio" class="hide" name="attr" id="tu" value="土"/>
						<label for="tu"  class="icon attr iconfont icon-tu"></label>
						<div class="name">Earth</div>
					</li>
				</ul>
				<button class="btn btn-dark" type="submit" value="Search">Get My Name</button>
			</div>
		</form>
	</div>
	<footer class="ifooter">
		<p>Posted by: JarickAwhy</p>
		<p>Contact information: Belly || Berry</p>
	</footer>		
	</html>

