{% include 'headerTemp.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% block header %}

	{% endblock header%}
<title>You And Me</title>
</head>
<body style="">
	<div id="header">
		<p class="headerText">
			Get a name with specific element
		</p>
	</div>



{% block addData %}
{% endblock %}

{% block results %}
{% endblock %}

{% block response %}
{% endblock %}

</body>
<footer class="ifooter">
	<p>Posted by: JaNa</p>
	<p>Contact information: Belly-Berry</p>
</footer>


</html>

